<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Reseevr</title>
</head>
    <body>
        <div class="text-center">
            <h1>Welcome to Reseevr</h1>
            <p>
                This is a site with a few web VR demos to be used in conjunction with Google Cardboard or Daydream.
            </p>
            <p>
                Source code is a fork of ... Feel free to download and modify.
            </p>
        </div>
        <br />
        <ul class="text-center list-unstyled">
            <li>
                <a href="auth/twitter" class="btn btn-primary">
                    Twitter
                </a>
            </li>
        </ul>
    </body>
</html>
