<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Reseevr</title>
</head>
    <body>
        <div class="text-center">
            <h1>Welcome to SocialVR</h1>
            <p>
                SocialVR is a WebVR experiment that allows you to experience your Twitter feed in VR.
            </p>
            <p>
                Click on the button below and login using your Twitter credentials. Can be used with or without Google Cardboard.
            </p>
        </div>
        <br />
        <ul class="text-center list-unstyled">
            <li>
                <a href="auth/twitter" class="btn btn-primary">
                    Twitter Feed in VR
                </a>
            </li>
        </ul>
    </body>
</html>
